<a href="https://colab.research.google.com/github/JPGV07/Aulas-de-Programa-o/blob/main/fun%C3%A7%C3%B5espyton1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def saudacao(): #nomear
  print('ola, estou dentro da funcao')
saudacao()
def somar():
  print(5+8)
somar()

ola, estou dentro da funcao

In [3]:
def somar(a,b):
  return a+b
a = somar(5,6)
print(a+a+a)

33

In [15]:
def quadrado(a):
  return a**2
b = int(input('seu numero'))
resultado = quadrado(b)
print(resultado)

seu numero12
144

In [16]:
#parametro(default)
def exibir_horario_aulas(disciplina,horario=9):
  print(f'{disciplina}-{horario} horas.')
exibir_horario_aulas('Programação')
exibir_horario_aulas('Modelagem de Software',15)

Programação-9 horas.
Modelagem de Software-15 horas.

In [19]:
def exibir_produto(nome,preço):
  print(f'{nome}: R${preço}')
#Argumentos posicionais
exibir_produto('doce de leite',5.50)
exibir_produto(65,'bermuda')
#Argumentos nomeados
exibir_produto(preço=100,nome='Camiseta')

doce de leite: R$5.5
65: R$bermuda
Camiseta: R$100

In [21]:
def exibir_jogo(*,nome_jogo,ano_lancamento):
  print(f'{nome_jogo},lancamento em {ano_lancamento}')
#apenas um parametro de ser nomeado
def exibir_produto(nome,*,preço):
  print(f'{nome}:R${preço}')
exibir_jogo(nome_jogo='Minecraft',ano_lancamento=2009)
exibir_produto('Alicate',preço=20)

Minecraft,lancamento em 2009
Alicate:R$20

In [31]:
def gerar_presonagem_game(nome,altura,*,forca,arma):
  print(f'seu nome é {nome},sua altura {altura},sua poder é {forca},sua arma é {arma}')
gerar_presonagem_game('Soma cruz','1.75',forca='dominacia',arma='claimh sword')

seu nome é Soma cruz,sua altura 1.75,sua poder é dominacia,sua arma é claimh sword

In [30]:
def somanotas(*args):
  return sum(args)
print(somanotas(7,8,3,10,9,2.1,7))

46.1

In [33]:
def somar_nums(*valores,a):
  print(valores)
  for valor in valores:
    a+=valor
  print(a)
somar_nums(1,1,1,1,1,a=10)

(1, 1, 1, 1, 1)
15

In [36]:
#Kwargs
def concatenar(**palavras):
  frase=''
  for palavra in palavras.values():
    frase += palavra
  print(frase)
concatenar(a='Eu ',b='é ' ,c='hequer')

Eu é hequer

In [43]:
def calcula(nome,*args,**kwargs):
  print(nome)
  print(args)
  print(kwargs)
  for arg in args:
    print(arg)
  for kwarg in kwargs.values():
    print(kwarg)

calcula('josé',1,1,1,1,a=10,b=10,c=10)

josé
(1, 1, 1, 1)
{'a': 10, 'b': 10, 'c': 10}
1
1
1
1
10
10
10

In [45]:
def somar_valores(*args):
  return sum(args)
print(somar_valores(2,5,3,7,3))

20

In [96]:
def exibir_perfil(nome,*args,**kwargs):
  print(nome)
  print(args)
  print(kwargs)
  for arg in args:
    print(arg)
  for kwarg in kwargs.values():
    print(kwargs)
print(exibir_perfil(joao,"hobbie"a=joga,"cidade"b=joao pessoa,"idade"c=17))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-96-bcb09663ff18>, line 9)

In [93]:
def multiplica_todos(*args):
  return 2*(args)
print(multiplica_todos(2))

(2, 2, 2, 2)

In [84]:
from datetime import date,datetime
data_atual= date.today()
data_hora_atual = datetime.now()
print(data_atual)
print(data_hora_atual)

2025-05-13
2025-05-13 13:55:55.534787

In [100]:
#data formatada
data_fomatada=data_atual.strftime("%d/%m/%Y")
data_completa=data_atual.strftime("%D/%M/%Y  %H:%M:%S")
print(data_fomatada)
print(data_completa)

13/05/2025
05/13/25/00/2025  00:00:00