<a href="https://colab.research.google.com/github/JPGV07/Aulas-de-Programa-o/blob/main/lista2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
notas=[1,5,8,4,2,1]
menores=[notas for notas in notas if notas<5]
print(menores)

[1, 4, 2, 1]

In [13]:
quadrados=[x**2 for x in range(10)]
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
numeros=[1,2,3,4,5,6]
pares=[n for n in numeros if n%2==0]
print(pares)

[2, 4, 6]

In [ ]:
#Strings
nome='Joao'
for letra in nome:
  print(letra)
print(len(nome))# tamnhos da string
print(nome.upper())#todos os caracteres maiusculos
print(nome.lower())#todos os caracteres minusculos

In [ ]:
nome=['João','Ana','Epamilondas','Godofredo','Lair','Setembrino']
lista=[nome for nome in nome if len(nome)>4]
print(lista)

In [49]:
nome=['João','Ana','Epamilondas','Godofredo','Lair','Setembrino']
listas=[nome.upper() for nome in nome if len(nome)<5]
print(listas)

['JOÃO', 'ANA', 'LAIR']

In [50]:
dobro_impares=[n*2 for n in numeros if n%2 !=0]
print(dobro_impares)

[2, 6, 10]

In [52]:
notas=[9.0,4.5,2.3,6.0,8.5,5.3]#atribuir dois pontos para notas menores de 5
nota=[notas+2 for notas in notas if notas< 5 ]
print(nota)

[6.5, 4.3]

In [53]:
soma= lambda a,b : a+b
print(soma(10,5))

15

In [60]:
d=lambda a: a/2
print(d(120))

60.0

In [65]:
#map() função aplica uma função a cada item de um iteravel(como uma li um novo iterador com os valores transformados)
n=[2,3,4,5,6,7,8]
quadrados=list(map(lambda x: x **2,n))
print(quadrados)

[4, 9, 16, 25, 36, 49, 64]

In [67]:
dobro=list(map(lambda X: X*2,n))
print(dobro)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [ ]:
p=['é','Hoje','My','ConsaGrated']
li=list(map(lambda x: x.upper,p))
print(li)

In [ ]:
numeros=[1,2,3,4]
pares=list(filter(lambda x: x%2==0,numeros))
print(pares)

In [ ]:
nomes=['Cristiano','Alien','Ary','Bete','Já']
fit=list(filter(lambda x : len(x)>4,nomes))
print(fit)

In [ ]:
ter=[1,2,9,10,23,63,5,34,54]
f=list(filter(lambda x: x>10,ter))
print(f)

In [ ]:
numeros=[3,7,2,8,1,4,10]
yu=list(map(lambda x:x*2, numeros))
print(yu)

In [ ]:
pa=list(filter(lambda x: x%2==0,numeros))
print(pa)

In [ ]:
lista=[1,23,4,67,2,34,57]
paresimpares=[n*2 if n %2==0
              else n
              for n in numeros]
print(paresimpares)